<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home Page</title>
	</head>
	<body>
		<h1>URL Shortner</h1>
		<% if (locals.id) { %>
		<p>URL Generated:</p>
		<a>http://localhost:8000/url/<%= id %></a>
		<% } %>
		<div>
			<form method="POST" action="/url">
				<label>Enter Your Original URL</label>
				<input type="text" name="url" placeholder="https://example.com" />
				<button type="submit">Generate</button>
			</form>
		</div>
		<div>
			<% if (locals.urls) { %>
			<table>
				<thead>
					<tr>
						<th>S. No</th>
						<th>Shortened URL</th>
						<th>Redirected</th>
						<th>Clicks</th>
					</tr>
				</thead>
				<tbody>
					<% urls.forEach((url , index) => { %>
					<tr>
						<td><%= index + 1 %></td>
						<td><a href="/url/<%= url.shortId %>"><%= url.shortId %></a></td>
						<td><%= url.redirectedUrl %></td>
						<td><%= url.visitHistory.length %></td>
					</tr>
					<% }) %>
				</tbody>
			</table>
			<% } %>
		</div>
	</body>
</html>
